
body {
    font-family: 'Shrikhand', cursive;

}



div {
    border: solid 8px pink;
    padding: 20px 50px 20px 50px;
    margin: 35px;
    text-align: center;
}

#flower {
    background-color: yellow;
}

 #tea {
    background-color: pink;
    color: white;
    
} 
